@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<div id="formSection">
    <h3>@ViewBag.TheMessage</h3>
    <form method="post" id="contactForm">
        <textarea name="message" id="message"></textarea>
        <input type="submit" value="Send" />
    </form>
    <img src="~/Content/Images/progress.gif" id="progress" style="display:none;" />
</div>

@section scripts{
    <script>
        $('#contactForm').submit(function () {
            $('#progress').show();
            $.post('', { message: $('#message').val() }).done(function (data) {
                setTimeout(function () { $('#formSection').html(data); }, 2000);
            });
            return false; // disable the normal synchronous action of the submit button
        });
    </script>
}

@* Partial page updates using Microsoft jQuery Unobtrusive AJAX
    <div id="formSection">
        <h3>@ViewBag.TheMessage</h3>
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formSection" }))
        {
            <textarea name="message"></textarea>
            <input type="submit" value="Send" />
        }
    </div>

    @section scripts{
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
*@