
@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer Funds</h2>

@Html.Partial("_TransferForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    <script>
        // delegate submit event to document, since form submit might be replaced
        $(document).on('submit', '#transferForm', function () {
            var $theForm = $(this);
            if ($theForm.valid()) {
                $('#progress').show();
                $.post('', $theForm.serialize()).done(function (response) {
                    $theForm.replaceWith(response);
                });
            }
            return false;
        });
    </script>
}
